body {
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 700px;
}
.conteudo {
    width: 50vw;
    height: 600px;
}
.imagemContainer {
    width: 50vw;
    height: 550px;
}
.imagemContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#description {
    text-align: center;
    width: 50vw;
    color: beige;
    background-color: rgb(0, 0, 0);
}
.logo {
    text-align: center;
}
.hide {
    display: none !important;
}
